.fact-file {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;

  & ul li {
    margin-bottom: .25rem;
  }

  & ul li:nth-child(4) {
    margin-bottom: .5rem;
  }
}

.stats table {

  & th {
    font-weight: bold;
    text-align: left;
    padding-bottom: .25rem;
  }

  & td {
    border-bottom: 1px solid var(--teal-1);
    border-right: 1px solid var(--teal-1);
  }

  & tr :nth-child(2) {
    text-align: center;
  }
}