.listing {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & .frame:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  & .title {
    justify-self: center;
    font-weight: bold;
    text-shadow: 1px 1px var(--light-text);
  }

  &:has(+ .filters) {
    margin-bottom: 1rem;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;

  & ul, & div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
  }

  & button, & div button {
    align-self: center;
    width: 50%;
  }

  & div select {
    background: transparent;
    
	  border: 2px solid var(--teal-1);
    border-radius: .5rem;
    box-shadow:rgba(255, 255, 255, 0.2) 0 0 2px 2px;

    padding: .5rem 1rem;
    width: 100%;

    transition: border-bottom 0.5s ease-in-out;

    &:focus {
      text-shadow: 1px 1px white;
    }

    &::placeholder {
      color: var(--text);
    }
  }
}

.display {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    & p {
      font-size: 1.125rem;
    }
  }
}

.pokedex {
  padding: .5rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, text-shadow 0.3s, box-shadow 0.3s, border-radius 0.6s ease-in-out;

  &:hover, &.active {
    background-color: var(--teal-2);
    border-radius: .5rem;
    color: var(--light-text);
    text-shadow: 1px 1px black;
    box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  & span {
    background-color: var(--teal-1);
    border-radius: .5rem;
    padding: .25rem;

    color: var(--light-text);
    text-shadow: 1px 1px black;
    font-weight: bold;
  }

  & span:not(.ellipsis) {
    cursor: pointer;
    transition: background-color 0.5s, text-shadow 0.5s ease-in-out;
    box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;

    &:hover, &.active {
      background-color: var(--teal-2);
      box-shadow:rgba(255, 255, 255, 0.2) 0 0 2px 2px;
      font-size: 1.125rem;
      text-shadow: 1px 1px black;
    }
  }
}