.listing {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & .frame:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  & .title {
    justify-self: center;
    font-weight: bold;
    text-shadow: 1px 1px var(--light-text);
  }

  &:has(+ .filters) {
    margin-bottom: 1rem;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;

  & ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;

    & li:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    }
  }

  & button {
    align-self: center;
    width: 50%;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.end {
  margin-left: auto;
}