.background {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;

  max-width: 768px;
  margin: 0 auto;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.modal:has(.entry) {
  position: fixed;
  max-width: calc(768px - 2rem);
  margin: 7rem auto;
  z-index: 15;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 768px) {
    margin: 9rem auto;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & .pokeball {
    height: 40vh;
    animation: rotate 1s infinite;
  }
}

@keyframes rotate {
  0%, 24% { transform: rotate(45deg); }
  25%, 49% { transform: rotate(90deg); }
  50%, 74% { transform: rotate(135deg); }
  75%, 100% { transform: rotate(180deg); }
}