.sticky:has(footer) {
  bottom: 0;

  & footer {
    background-image: url('../svg/footer-100.svg');

    display: flex;
    justify-content: start;

    min-height: 100px;
    padding-top: .5rem;

    clip-path: polygon(100% 100%, 0 100%, 0 25%, 30% 25%, 35% 0, 100% 0);
    
    @media screen and (min-width: 768px) {
      background-image: url('../svg/footer-125.svg');
      min-height: 125px;
    }
  }
}