.sticky:has(header) {
  top: 0;

  & header {
    background: url('../svg/texture.svg'),
    linear-gradient(var(--red-1), var(--red-2));
  
    display: flex;
    justify-content: start;
  
    min-height: 100px;
    padding-top: .5rem;
  
    clip-path: polygon(0 0, 100% 0, 100% 75%, 30% 75%, 25% 100%, 0 100%);
  }
}

header {
  & .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    & h1 {
      text-align: center;
    }
  }

  & .lights { 
    display: flex;
    justify-content: space-between;
  }
}

.light {
  background: radial-gradient(rgba(105, 105, 105, 0.85) 40%, rgba(100, 100, 100, 0.6) 80%);
  border-radius: 50%;
  box-shadow:rgba(0, 0, 0, 0.2) 0 -2px 8px 4px, inset rgba(0, 0, 0, 0.6) 0 -2px 12px, rgba(255, 255, 255, 0.5) 0 6px 12px;

  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .25rem;

  &.red {
    animation: blink-red 3s infinite;
  }
  &.yel {
    animation: blink-yel 1s infinite;
  }
  &.grn {
    animation: blink-grn 2s infinite;
  }

  &.large {
    border: 6px solid #fff;
    box-shadow:rgba(0, 0, 0, 0.2) 0 -4px 16px 6px, inset rgba(0, 0, 0, 0.6) 0 -4px 24px, rgba(255, 255, 255, 0.5) 0 4px 16px;
    
    flex-shrink: 0;
  
    width: 5rem;
    height: 5rem;
    margin: 0 .75rem .5rem;
  
    &.on {
      background: linear-gradient(var(--blue-1), var(--blue-2));
      box-shadow: inset rgb(0 0 255 / 50%) -4px -8px 8px 10px, rgb(0 0 255 / 50%) 0 0 20px 4px;
      box-shadow:rgba(0, 255, 255, 0.2) 0 -2px 8px 4px, inset rgba(0, 125, 125, 1) -4px -7px 24px, rgba(0, 255, 255, 0.5) 0 6px 20px;
    }
  }
}

@keyframes blink-red {
  0%, 49% {
    background: linear-gradient(var(--red-1), var(--red-2));
    box-shadow:rgba(255, 0, 0, 0.2) 0 -2px 8px 4px, inset rgba(125, 0, 0, 0.6) 0 -2px 12px, rgba(255, 0, 0, 0.4) 0 6px 12px;
  }
  50%, 100% {
    background: radial-gradient(rgba(105, 105, 105, 0.85) 40%, rgba(100, 100, 100, 0.6) 80%);
    box-shadow:rgba(0, 0, 0, 0.2) 0 -2px 8px 4px, inset rgba(0, 0, 0, 0.6) 0 -2px 12px, rgba(255, 255, 255, 0.5) 0 6px 12px;
  }
}

@keyframes blink-yel {
  0%, 49% { 
    background: linear-gradient(var(--yellow-1), var(--yellow-2));
    box-shadow:rgba(255, 255, 0, 0.2) 0 -2px 8px 4px, inset rgba(125, 125, 0, 0.6) 0 -2px 12px, rgba(255, 255, 0, 0.4) 0 6px 12px;
  }
  50%, 100% {
    background: radial-gradient(rgba(105, 105, 105, 0.85) 40%, rgba(100, 100, 100, 0.6) 80%);
    box-shadow:rgba(0, 0, 0, 0.2) 0 -2px 8px 4px, inset rgba(0, 0, 0, 0.6) 0 -2px 12px, rgba(255, 255, 255, 0.5) 0 6px 12px;
  }
}

@keyframes blink-grn {
  0%, 74% {
    background: radial-gradient(rgba(105, 105, 105, 0.85) 40%, rgba(100, 100, 100, 0.6) 80%);
    box-shadow:rgba(0, 0, 0, 0.2) 0 -2px 8px 4px, inset rgba(0, 0, 0, 0.6) 0 -2px 12px, rgba(255, 255, 255, 0.5) 0 6px 12px;
  }
  75%, 100% {
    background: linear-gradient(var(--green-1), var(--green-2));
    box-shadow:rgba(0, 255, 0, 0.2) 0 -2px 8px 4px, inset rgba(125, 125, 125, 0.6) 0 -2px 12px, rgba(0, 255, 0, 0.2) 0 6px 12px;
  }
}