.background {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;

  max-width: 768px;
  margin: 0 auto;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.modal:has(.entry) {
  position: fixed;
  max-width: calc(768px - 2rem);
  margin: 7rem auto;
  z-index: 15;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 768px) {
    margin: 9rem auto;
  }
}

.entry {
  background: linear-gradient(0deg, var(--blue-1) 40%, var(--blue-2) 80%);
  display: flex;
  margin: 0 1rem;
  padding: 1.25rem;
  height: 100%;
  max-width: 475px;
  z-index: 16;

  overflow-y: auto;

  & .top-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
  
    margin-bottom: 1rem;
  }

  & .close {
    padding: .5rem;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}

.fact-file {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;

  & ul li {
    margin-bottom: .25rem;
  }

  & ul li:nth-child(4) {
    margin-bottom: .5rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & .pokeball {
    height: 50vh;
    animation: rotate 1s infinite;
  }
}

@keyframes rotate {
  0%, 24% { transform: rotate(45deg); }
  25%, 49% { transform: rotate(90deg); }
  50%, 74% { transform: rotate(135deg); }
  75%, 100% { transform: rotate(180deg); }
}

.stats table {

  & th {
    font-weight: bold;
    text-align: left;
    padding-bottom: .25rem;
  }

  & td {
    border-bottom: 1px solid var(--teal-1);
    border-right: 1px solid var(--teal-1);
  }

  & tr :nth-child(2) {
    text-align: center;
  }
}