.modal:has(.entry) {
  position: fixed;
  max-width: calc(800px - 2rem);
  margin: 7rem 1rem;
  z-index: 15;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.entry {
  background: linear-gradient(0deg, var(--blue-1) 40%, var(--blue-2) 80%);
  display: flex;
  padding: 1.25rem;
  height: 100%;

  overflow-y: auto;

  & .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 1rem;
  }

  & .close {
    cursor: pointer;

    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.fact-file {
  display: flex;
  justify-content: space-around;

  margin-bottom: 1.5rem;

  & ul li:nth-child(4) {
    margin-bottom: .5rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & .pokeball {
    height: 50vh;
    animation: rotate 1s infinite;
  }
}

@keyframes rotate {
  0%, 24% { transform: rotate(45deg); }
  25%, 49% { transform: rotate(90deg); }
  50%, 74% { transform: rotate(135deg); }
  75%, 100% { transform: rotate(180deg); }
}

stats table {
  align-self: center;

  & th {
    font-weight: bold;
  }
}