.search {
  display: flex;
  flex-direction: column;

  padding: 1rem .5rem;
  margin: 1rem 0;

  & form {
    display: flex;
  }
}

button, input[type=text], .suggestion {
  border: none;
  padding: .5rem 0;
}

button {
  background-color: var(--border);
	border-radius: 1rem;
  box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;

  min-width: 25%;

  color: var(--light-text);
  font-weight: bold;
  cursor: pointer;
}

input[type=text] {
	background: transparent;
  width: 100%;
  margin: 0 1rem;

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--border);
  }

  &::placeholder {
    color: var(--dark-text);
  }
}

ul.suggestions {
  padding: 0 1rem;

  & li {
    cursor:pointer;

    &:hover {
      font-weight: bold;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border);
    }
  }
}