footer {
  position: sticky;
  bottom: 0;
  z-index: 25;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));

  & .wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
  }

  & .background {
    background-image: url('../../assets/svg/footer-100.svg');
    min-height: 100px;

    @media screen and (min-width: 768px) {
      background-image: url('../../assets/svg/footer-125.svg');
      min-height: 125px;
    }
  }

  & .clip-path {
    clip-path: polygon(100% 100%, 0 100%, 0 25%, 30% 25%, 35% 0, 100% 0);

    @media screen and (min-width: 768px) {
      clip-path: polygon(100% 100%, 0 100%, 0 25%, 65% 25%, 70% 0, 100% 0);
    }
  }

  & .github {
    display: flex;
    align-items: center;
    gap: .75rem;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5));

    font-family: system-ui, sans-serif;
    text-decoration: none;
    color: var(--light-text);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: black;
    }
  }
}