.search {
  display: flex;
  flex-direction: column;

  padding: 1rem .5rem;
  margin: 1rem 0;

  & form {
    display: flex;
    flex-direction: column;

    & div {
      margin-bottom: .5rem;
    }

    & select {
      background: transparent;
      border: none;
      cursor: pointer;
      transition: border-bottom 0.5s ease-in-out;
      font-weight: bold;
      padding: 0 .75rem;
    }

    & button {
      margin: 0 .75rem .5rem;
    }
  }

  @media screen and (min-width: 768px) {

    & form {
      flex-direction: row;
      flex-grow: 1;

      & div {
        display: flex;
        margin: 0;
        width: 100%;
      }

      & button {
        margin-bottom: 0;
      }
    }
  }
}

button, input[type=text], .suggestion {
  border: none;
  padding: .5rem 0;
}

button {
  background-color: var(--teal-1);
	border-radius: 1rem;
  box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  transition: background-color 0.5s, text-shadow 0.5s, box-shadow 0.5s;

  min-width: 25%;

  color: var(--light-text);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--teal-2);
    text-shadow: 1px 1px black;
    box-shadow:rgba(255, 255, 255, 0.2) 0 0 2px 2px;
  }
}

input[type=text] {
	background: transparent;
  width: 50%;
  margin: 0 1rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease-in-out;

  &:focus {
    outline: none;
    border-bottom: 1px solid var(--teal-1);
  }

  &::placeholder {
    color: var(--text);
  }
  
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

ul.suggestions {
  margin-top: .5rem;
  padding: 0 1rem;

  & li {
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--teal-1);
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}