@font-face {
  font-family: 'Pixel Operator';
  src: url('./assets/fonts/PixelOperatorMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Operator';
  src: url('./assets/fonts/PixelOperatorMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --text: teal;
  --light-text: white;

  --teal-1: teal;
  --teal-2: rgb(0, 200, 200);

  --blue-1: lightblue;
  --blue-2: lightcyan;

  --red-1: red;
  --red-2: firebrick;

  --yellow-1: yellow;
  --yellow-2: gold;

  --green-1: lightgreen;
  --green-2: green;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, button, ul {
  margin: 0;
  font-family: 'Pixel Operator', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
}

h1, h2, h3 {
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  margin: 0 1rem;

  &::before, &::after {
    content: '';
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  &::before {
    animation: degauss 10s infinite ease-in-out;
    opacity: .5;
    z-index: 9;
  }

  &::after {
    background-image: url('./assets/svg/noise.svg'), linear-gradient(rgba(165, 165, 165, 0.4), transparent 4px, var(--blue-2));
    background-size: 4px 4px;
    pointer-events: none;
    z-index: 20;
  }

  @media screen and (min-width: 768px) {
    &::before, &::after {
      max-width: 768px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@keyframes degauss {
  0% {
    box-shadow: 0 -10vh 20vh var(--blue-1);
    top: -100vh;
  }
  48%, 52% {
    box-shadow: 0 -10vh 20vh var(--blue-2);
  }
  50% {
    box-shadow: 0 -10vh 20vh var(--blue-2);
  }
  100% {
    box-shadow: 0 -10vh 20vh var(--blue-1);
    top: 100vh;
  }
}

#root {
  background: 
    url('./assets/svg/pokeball-bg.svg'),
    url('./assets/svg/noise.svg'),
    linear-gradient(0deg, var(--blue-1) 40%, var(--blue-2) 80%);
  background-attachment: fixed;
  border-right: rgba(0, 0, 0, 0.5) solid 2px;
  border-left: rgba(0, 0, 0, 0.5) solid 2px;

  max-width: 768px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    background-position: center;
  }
}

.sticky {
  position: sticky;
  z-index: 25;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}

.frame {
	background-color: transparent;
	border: .25rem solid var(--teal-1);
	border-radius: 1rem;
  box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: background-color 0.5s, box-shadow 0.5s;
  
  &:hover:not(.tab):not(.entry) {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:rgba(255, 255, 255, 0.2) 0 0 2px 2px;
  }
}

.message-box {
  background-color: var(--teal-1);
  border-radius: 1rem;
  box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;

  padding: 1rem;
  margin-bottom: 1rem;

  & p {
    color: var(--light-text);
  }
}

.id {
  background-color: var(--teal-1);
  border-radius: .75rem;
  box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;

  padding: .25rem;
  justify-self: start;

  & span {
    background-color: var(--blue-2);
    border-radius: 50%;
  
    display: block;
    padding: .25rem;
    margin: .25rem;
    
    font-weight: bold;
  }
}

.name {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px var(--light-text);
}

.sprite {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.tabber {
  display: flex;
  justify-content: space-evenly;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  
  & button {
    border-radius: .5rem;
    box-shadow: none;
    flex-grow: 1;

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.active {
      background-color: var(--teal-2);
      text-shadow: 1px 1px black;
    }
  }

  &:has(+ .frame) {
    margin-bottom: 1rem;
  }
}

.lock {
  height: 100vh;
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .hidden-mobile {
      display: none !important;
  }
}