.accordion {
  .drawer {
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    & .title {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(0deg, var(--blue-1) 40%, var(--blue-2) 80%);
      box-shadow:rgba(255, 255, 255, 0.2) 0 0 2px 2px;
      border: 2px solid var(--teal-2);
      border-radius: .5rem;
      padding: .5rem;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;

      & h3 {
        font-size: 1.125rem;
        text-shadow: 1px 1px white;
      }

      & svg {
        filter: drop-shadow(0 1px 0 rgb(255, 255, 255));
        width: 1.25rem;
        transition: transform 0.3s;
      }

      &:hover {
        background-image: none;
        background-color: var(--teal-2);

        & h3 {
          color: var(--light-text);
          text-shadow: 1px 1px black;
        }

        & svg {
          filter: drop-shadow(0 -2px 0 rgb(255, 255, 255));
        }
      }

      &.active {
        background: var(--teal-2);
        border-radius: .5rem .5rem 0 0;
        box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;

        & h3 {
          color: var(--light-text);
          text-shadow: 1px 1px black;
        }

        & svg {
          transform: rotate(180deg);
          color: var(--light-text);
          filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.5));
        }
      }
    }

    & .content {
      padding: .5rem .5rem 1rem;
      background: linear-gradient(0deg, var(--blue-1) 40%, var(--blue-2) 80%);
      border: 2px solid var(--teal-2);
      border-radius: 0 0 .5rem .5rem;
      box-shadow:rgba(0, 0, 0, 0.2) 0 3px 2px 2px;
    }
  }
}

.loading {
  &.medium {
    & .pokeball {
      height: 30vh;
    }
  }
}

.table {
  display: flex;
  justify-content: center;

  & table {
    width: 100%;

    & *:not(.chart) {
      border-radius: .25rem;
    }

    & th {
      font-weight: bold;
      text-align: left;
      padding-bottom: .25rem;
    }
  
    & td {
      padding: .25rem;
      border-bottom: 1px solid var(--teal-1);
      border-right: 1px solid var(--teal-1);
    }
  
    & tr :nth-child(2) {
      text-align: center;
    }

    & .chart {
      background-color: var(--teal-1);
      height: 1rem;
    }
  }
}

.able-pokemon {
  display: flex;
  flex-direction: column;

  & .pokemon {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    border: 4px solid var(--teal-2);
    border-radius: 1rem;
    box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;

    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
    cursor: pointer;
    
    &:first-child {
      margin-top: .5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover {
      border: 4px solid var(--teal-1);
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.possible-moves {
  display: flex;
  flex-direction: column;

  & .move {
    display: flex;
    justify-content: space-between;

    border: 4px solid var(--teal-2);
    border-radius: 1rem;
    box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px 2px;
    padding: .5rem 1rem;

    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
    cursor: pointer;

    &:first-child {
      margin-top: .5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover {
      border: 4px solid var(--teal-1);
      background-color: rgba(255, 255, 255, 0.5);
    }

    & h3 {
      align-self: center;
    }
  }

  & .error {
    & p {
      color: var(--teal-1);
    }
  }
}

.load-more {
  display: flex;
    & button {
      width: 50%;
      margin: 0 auto;
    }
}